template(name="chatBubbles")
	.chatBubbles(class="{{#if userIsAdmin}}chatBubblesAdmin{{/if}} {{#if underScreen}}underScreen{{/if}} {{style}}")
		each chatBubbles
			if showBubble
				.chatBubbles-bubble(data-chat-id="{{_id}}" class="status-{{status}}")
					.chatBubbles-msgs-container
						each messages
							.chatBubbles-msg-container(class="{{#if authorAdmin}}adminMsg{{else}}guestMsg{{/if}}")
								p.chatBubbles-msg {{msg}} <br><sub class="grey admin-only">{{timestamp}}</sub>
					form(name="chatBubblesNewMessage")
						input(name="msg" placeholder="write here..")
				if profileImageSource
					if userIsGuest
						.profile-image(style="background-image:url('{{profileImageSource}}')")
		if userIsAdmin
			if chatBubblesExist
				button(name="archive-old") Archive old and delete empty<br>(only affects offline guests)