.chatBubbles:not(.unstyled) {
	.grey {
		color: rgba(0,0,0,0.5);
	}
	.admin-only {
		display: none;
	}
	.profile-image {
		display: inline-block;
		margin-right: 7px;
		width: 100px;
		height: 100px;
		border-top: 1px solid rgba(255,255,255,0.3);
		border-bottom: 1px solid rgba(0,0,0,0.3);
		border-radius: 100%;
		-webkit-box-shadow: 0 2px 2px 0 rgba(0,0,0,0.3);
		box-shadow: 0 2px 2px 0 rgba(0,0,0,0.3);
		background-size: cover;
		background-position: center;
		vertical-align: bottom;
	}

	// Admin view
	&.chatBubblesAdmin {
		.admin-only {
			display: block;
		}
		position: static;
		text-align: left;
		.chatBubbles-bubble {
			border: 1px solid rgba(0,0,0,0.3);
			padding: 1em;
			&.status-online {
				// background-color: rgba(0,255,0,0.4);
				-webkit-box-shadow:inset 0 0 50px 0 #00FF00;
				box-shadow:inset 0 0 50px 0 #00FF00;
			}
			&.status-offline {
				// background-color: rgba(0,255,0,0.4);
				-webkit-box-shadow:inset 0 0 50px 0 rgba(0,0,0,0.3);
				box-shadow:inset 0 0 50px 0 rgba(0,0,0,0.3);
			}
			&.status-idle {
				// background-color: rgba(0,255,0,0.4);
				-webkit-box-shadow:inset 0 0 50px 0 #FFF900;
				box-shadow:inset 0 0 50px 0 #FFF900;
			}
		}
		.chatBubbles-msgs-container {
			height: 250px;
		}
	}

	// Global view
	text-align: right;
	position: fixed;
	right: 0;
	bottom: 0;
	-webkit-transition: bottom 500ms ease-out;
	-moz-transition: bottom 500ms ease-out;
	-o-transition: bottom 500ms ease-out;
	transition: bottom 500ms ease-out;
	&.underScreen {
		bottom: -150px;
	}
	.chatBubbles-bubble {
		display: inline-block;
		width: 250px;
		.chatBubbles-msgs-container {
			max-height: 250px;
			overflow-y: auto;
			padding: 0 15px 0 15px;
		}
		.chatBubbles-msg-container {
			display: block;
			padding-bottom: 3px;

			// General message style
			.chatBubbles-msg {
				display: inline-block;
				border-radius: 3px;
				padding: 3px;
				margin: 0;

				////////////////////////////////////////
				//           Arrow                    //
				position: relative;
				&:after, &:before {
					top: 50%;
					border: solid transparent;
					content: " ";
					height: 0;
					width: 0;
					position: absolute;
					pointer-events: none;
				}

				&:after {
					border-width: 7px;
					margin-top: -7px;
				}
				&:before {
					border-color: rgba(135, 211, 230, 0);
					border-width: 8px;
					margin-top: -8px;
				}
				//           End Arrow                //
				////////////////////////////////////////
			}

			// Admin message style
			&.adminMsg {
				text-align: right;
				color: black;

				////////////////////////////////////////
				//           Arrow                    //
				.chatBubbles-msg {
					position: relative;
					background: #D8E8FE;
					border: 1px solid #87d3e6;
					&:after, &:before {
						left: 100%;
					}

					&:after {
						border-color: rgba(216, 232, 254, 0);
						border-left-color: #D8E8FE;
						border-width: 7px;
						margin-top: -7px;
					}
					&:before {
						border-color: rgba(135, 211, 230, 0);
						border-left-color: #87d3e6;
						border-width: 8px;
						margin-top: -8px;
					}
				}
				//           End Arrow                //
				////////////////////////////////////////
			}

			// Guest message style
			&.guestMsg {
				text-align: left;
				color: rgba(0,0,0,0.8);

				
				////////////////////////////////////////
				//           Arrow                    //
				.chatBubbles-msg {
					background: #F8F8F8;
					border: 1px solid #e5e5e5;
					&:after, &:before {
						right: 100%;
					}

					&:after {
						border-color: rgba(248, 248, 248, 0);
						border-right-color: #F8F8F8;
						border-width: 7px;
						margin-top: -7px;
					}
					&:before {
						border-color: rgba(196, 196, 196, 0);
						border-right-color: #e5e5e5;
						border-width: 8px;
						margin-top: -8px;
					}
				}
				//           End Arrow                //
				////////////////////////////////////////
			}
		}
		form {
			text-align: center;
			input[name="msg"] {
				width: 95%;
			}
		}
	}
	
}