template(name="chatBubbles")
	.chatBubbles(class="{{#if userIsAdmin}}chatBubblesAdmin{{/if}}")
		each chatBubbles
			.chatBubbles-bubble(data-chat-id="{{_id}}")
				.chatBubbles-msgs-container
					each messages
						.chatBubbles-msg-container(class="{{#if authorAdmin}}adminMsg{{else}}guestMsg{{/if}}")
							p.chatBubbles-msg {{msg}}
				form(name="chatBubblesNewMessage")
					if showInput
						input(name="msg" placeholder="write here..")
