template(name="chatBubbles")
	.chatBubbles(class="{{#if userIsAdmin}}chatBubblesAdmin{{/if}}")
		each chatBubbles
			.chatBubbles-bubble(data-chat-id="{{_id}}")
				each messages
					.chatBubbles-msg-container(class="{{#if authorAdmin}}adminMsg{{else}}guestMsg{{/if}}")
						p.chatBubbles-msg {{msg}}
